html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box; 
    font-family: 'Work Sans', sans-serif;
}
p{
    font-size: 20px;
}

a{
    text-decoration: none;
    font-size:16px
}

.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 600px;
    position:relative;
}

.header_top{
    width: 100%;
    height: 50%;
}

.header_top_logo{
    display: flex;
    flex: 1;
    display: inline-block;
    align-items: center;
    padding: 25px 0 0 25px;
    width: 50%;
}

.header_nav{
    display: flex;
    flex: 1;
    display: inline-block;
    justify-content: flex-end;
    justify-content: space-around;
    width: 45%;
}

.header_nav_list{
    display: flex;
    list-style: none;
    text-align: end;
    justify-content: space-between;
    padding: 15px 10px;
    color:white;
}

.header_nav_list_icon{
    width: 20px;
    height: 15px;
    color:white;
}

.header_nav_list_button{
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    border: 1px solid;
    border-color: #fabada;
    color:white;
    background-color: #fabada;
    font-size: 15px;
    cursor: pointer;
}

.header_video{
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 600px;
    z-index: -1000;
    overflow: hidden;
} 

.header_video_width{
    margin:0;
    padding:0;
    width: 100%;
}

.header_title{
    width: 100%;
    height: 50%;
}

.header_title_center{
    margin-left: 50px;
}

.header_title_center_h1{
    color:white;
    font-weight: bold;
    font-size: 48px;
    padding-left: 50px;
}

.header_title_center_subtitle{
    color:white;
    font-size: 24px;
    font-weight: bolder;
    padding-left: 50px;
}

.subheader{
    text-align: center;
    width: 100%;
    height: 150px;
    padding-top: 10px;
    position:relative;
}

.subheader_bckg{
    background-color: #fabada;
}

.box_bootcamp{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 400px;
}

.box_bootcamp_fsd{
    width: 30%;
    height: 80px;
}

.box_bootcamp_fsd_img{
    max-width: 100%;
}

.box_bootcamp_hacking{
    width: 30%;
    height: 80px;
}

.box_bootcamp_hacking_img{
    max-width: 100%;
}

.box_bootcamp_pt{
    width: 25%;
    height: 80px;
}

.box_bootcamp_pt_img{
    max-width: 100%;
}

.box_bootcamp_ux_ui{
    width: 30%;
    height: 80px;
}

.box_bootcamp_ux_ui_img{
    max-width: 100%;
}

.box_bootcamp_fsd_img{
    max-width: 100%;
}

.box_bootcamp_fed{
    width: 30%;
    height: 80px;
    margin-right: 25%;
    margin-bottom: 150px;
}

.box_bootcamp_fsd_img{
    max-width: 100%;
}

.business{
    display:flex;
    justify-content: space-evenly;
}

.logo_business_top{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    max-width: 100%;
}

.logo_business_top_indra{
    width: 120px;
    height: 80px;
}

.logo_business_top_deloitte{
    width: 120px;
    height: 80px;
}

.logo_business_top_aratech{
    width: 120px;
    height: 60px;
}

.logo_business_top_telefonica{
    width: 175px;
    height: 50px;
}

.logo_business_top_ticjob{
    width: 150px;
    height: 50px;
}
.logo_business_bottom{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    max-width: 100%;
}

.logo_business_bottom_nateevo{
    width: 120px;
    height: 80px;
    margin: 0 15px;
}

.logo_business_bottom_tata{
    width: 120px;
    height: 80px;
    margin: 0 15px;
}

.logo_business_bottom_kpmg{
    width: 120px;
    height: 80px;
    margin: 0 15px;
}

.logo_business_bottom_acilia{
    width: 120px;
    height: 80px;
    margin: 0 25px;
}

.logo_business_bottom_go{
    width: 120px;
    height: 80px;
}

.reviews{
    margin: 100px 0 100px 0;
    text-align: center;
}

.reviews_testimonials{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.reviews_testimonials_photo_elena{
    background-image: url(../img/testimonials/elena_martin.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    height: 100%;
}

.reviews_testimonials_photo_elena_text{
    color:white;
    text-align: left;
    margin-left: 40px;
    margin-top: 200px;
}

.reviews_testimonials_photo_sebastian{
    background-image: url(../img/testimonials/testimonial_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    height: 100%;
}

.reviews_testimonials_photo_sebastian_text{
    color:white;
    text-align: left;
    margin-left: 40px;
    margin-top: 200px;
}

.reviews_testimonials_photo_carmen{
    background-image: url(../img/testimonials/carmen_mallado.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    height: 100%;
}

.reviews_testimonials_photo_carmen_text{
    color:white;
    text-align: left;
    margin-left: 40px;
    margin-top: 200px;
}

.reviews_testimonials_photo_alberto{
    background-image: url(../img/testimonials/alberto_torres.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    height: 100%;
}

.reviews_testimonials_photo_alberto_text{
    color:white;
    text-align: left;
    margin-left: 40px;
    margin-top: 200px;
}

.more{
    display:flex;
    justify-content: space-evenly;
    margin: 100px 0 100px 0;
}

.button_more{
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    border: 1px solid;
    border-color: #fabada;
    color:white;
    background-color: #fabada;
    cursor: pointer;
    margin-left: 45%;
}

.bootcamp_big{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.bootcamp_big_top{
    max-width: 100%;
}

.bootcamp_big_top_fsd{
    background-image: url(../img/bootcamps/fullstack-img-chooser.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 500px;
}

.bootcamp_big_top_fsd_text{
    color:white;
    text-align: left;
    margin-left: 20px;
    margin-top: 100px;
    font-size: 32px;
}


.bootcamp_big_top_fsd_icon{
    border-radius: 5px;
    padding: 20px;
    width: 200px;
    border: 1px solid;
    border-color: #fabada;
    color:black;
    background-color: #fabada;
    font-size: 15px;
    cursor: pointer;
    margin-left: 60%;
}

.bootcamp_big_top_right{
    max-width: 100%;
}


.bootcamp_big_top_right_ciber{
    background-image: url(../img/bootcamps/ciber-img-chooser.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 500px;
}

.bootcamp_big_top_right_ciber_icon{
    border-radius: 5px;
    padding: 20px;
    width: 200px;
    border: 1px solid;
    border-color: #fabada;
    color:black;
    background-color: #fabada;
    font-size: 15px;
    cursor: pointer;
    margin-left: 60%;
}

.bootcamp_big_top_right_ciber_text{
    color:white;
    text-align: left;
    margin-left: 20px;
    margin-top: 100px;
    font-size: 32px;
}

.bootcamp_big_bottom{
    max-width: 100%;
}

.bootcamp_big_bottom_uxui{
    background-image: url(../img/bootcamps/uxui-img-chooser.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 500px;
}

.bootcamp_big_bottom_uxui_icon{
    border-radius: 5px;
    padding: 20px;
    width: 200px;
    border: 1px solid;
    border-color: #fabada;
    color:black;
    background-color:#fabada;
    font-size: 15px;
    cursor: pointer;
    margin-left: 60%;
}

.bootcamp_big_bottom_uxui_text{
    color:white;
    text-align: left;
    margin-left: 20px;
    margin-top: 0px;
    font-size: 32px;
}

.bootcamp_big_bottom_right{
    max-width: 100%;
}

.bootcamp_big_bottom_right_fed{
    background-image: url(../img/bootcamps/frontend-img-chooser.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 500px;
}

.bootcamp_big_bottom_right_fed_text{
    color: white;
    text-align: left;
    margin-left: 20px;
    margin-top: 0px;
    font-size: 32px;
    padding-top: 55px;
}

.choose{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.choose_top{
    width: 100%;
    text-align: center;
}

.choose_top_icon{
    text-align: center;
    display: inline-block;
}

.choose_top_text{
    text-align: center;
    display: inline-block;
}

.choose_top_1_2_3{
    text-align: left;
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}

.chose_bottom{
    width: 100%;
    text-align: center;
}

.choose_bottom_4_5_6{
    text-align: left;
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 20px;
}

.form{
    width: 100%;
    height: 600px;
    display: inline-flex;
    background-color: #fabada;
    margin-top: 20px;
}

.form_left{
    width: 175%;
    height: 600px;
    padding-top: 50px;
}

.form_left_title{
    color: white;
    text-align: left;
    margin-left: 50px;
    font-size: 28px;
}

.form_left_text{
    color: white;
    text-align: left;
    margin-left: 50px;
    font-size: 20px;
}

.form_type{
    width: 50%;
    height: 600px;
    background-color: #fabada;
}

fieldset{
    border:none;
}

.name{
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.name_box{
    width: 800px;
    height: 30px;
    border: none;
    background-color: white;
    border-radius: 5px;
}

.surname{
    margin-top: 20px;
    margin-bottom: 10px;
}

.surname_box{
    width: 800px;
    height: 30px;
    border: none;
    background-color: white;
    border-radius: 5px;
}

.email{
    margin-top: 20px;
    margin-bottom: 10px;
}

.email_box{
    width: 800px;
    height: 30px;
    border: none;
    background-color: white;
    border-radius: 5px;
}

.phone{
    margin-top: 20px;
    margin-bottom: 10px;
}

.phone_box{
    width: 800px;
    height: 30px;
    border: none;
    background-color: white;
    border-radius: 5px;
}

.bootcamp{
    margin-top: 20px;
    margin-bottom: 10px;
}


.bootcamp_box{
    width: 800px;
    height: 30px;
    border: none;
    background-color: white;
    border-radius: 5px;
}

.check_box{
    margin-top: 20px;
}

.submit{
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    border: 1px solid;
    border-color: #fabada;
    color: black;
    font-size: 15px;
}

.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: black;
}

.footer_left{
    display: flex;
    width: 50%;
    display: inline-flex;
    justify-content: flex-end;
    padding-top: 50px;
}

.footer_left_logo{
    display: flex;
}

.footer_left_logo_adress_list{
    list-style: none;
    color:white;
}

.footer_left_logo_adress_icon{
    padding-left: 20px;
}

.footer_left_separation{
    padding:50px;
    color: white;
}


.footer_left_links{
    padding-left: 0;
    list-style: none;
}

.lineaVertical{
    color: white;
    height: 100px;
}

.footer_right{
    display: flex;
    width: 50%;
    display: inline-flex;
    justify-content: flex-end;
    padding-top: 50px;
    justify-content:space-evenly;
}

